# Database credentials
DB_HOST=localhost
DB_NAME=u801921494_btcc
DB_USER=u801921494_utcc
DB_PASS=Etec_tte_125
DB_CHARSET=utf8mb4

# SMTP (Mail server) credentials
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@seu-dominio.mailgun.org
MAIL_PASSWORD=sua-senha-ou-api-key
MAIL_ENCRYPTION=tls